
/* Nav bar */
#navbar{
    font-size: 20px;
    font-weight: 700;
    background-color: white;
}
ul, ol, li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-right: 100px;
}

.nav-logo{
    width:80px;
    position: absolute;
    left: 10px;
}

.nav-link{
    text-decoration: none;
    color: dimgray;
}
.nav-link:hover{
    color: firebrick;
}


/* cart */

#cartwidget img{
    width: 40px;
    position: absolute;
    right: 10px;
}